.logo {
    box-sizing: border-box;
    height: auto;

    &__heading {
        cursor: pointer;
        color: $white;
        font-size: 23px;
        margin-top: 10px;

        &:hover {
            color: $red;
        }
    }
}

.small {
    width: 40px;
}

.medium {
    width: 80px;
}

.large {
    width: 120px;
}
