//font colors
$text-base: #333;
$text-dark: #242424;

//links
$navigation-link: #ffffff;
$navigation-hover: #665566;
$link-base: #faf734;

//Heading
$h1: #ffffff;

//background colors
$background-pink: #faf4fa;
$background-purple: #443344;
$background-gray: #f7f7f7;

//button colors
$button-red: #eb233c;

//fill colors
$red: #eb233c;
$pink: #f28b9b;
$light-pink: #faf4fa;
$light-gray: #ccc;
$white: #fff;

/////// Resposivnes  ////////
